<header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Rabi Kavoori</a></h1>
        <p>Senior Software Engineer</br>
           Works at <a href="http://www.millennialmedia.com/" target="_blank">Millennial Media</a></br>
           (Formerly <a href="http://www.nexage.com/" target="_blank">Nexage)</a></br>
           Lives in Boston, MA</br>
        </p>
        <p>
          <a href="https://twitter.com/rabi_rob" target="_blank">Twitter</a> •
          <a href="https://github.com/kavoori" target="_blank">GitHub</a> • 
          <a href="/feed.xml">RSS</a>
        </p>
        <hr/>
        <h3>About</h3>
        <p>Java developer, currently into Scala, likes to tinker, tries to solve all problems in life by writing code and loves the indoors!
        </p>
        <hr/>
</header>