<header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Rabi Kavoori</a></h1>
        <p>Senior Software Engineer at <a href="http://www.nexage.com" target="_blank">Nexage</a> </p>
        <p>
          <a href="https://twitter.com/rabi_rob" target="_blank">Twitter</a> •
          <a href="https://github.com/kavoori" target="_blank">GitHub</a> • 
          <a href="/feed.xml">RSS</a>
        </p>
</header>